<div class="modal-header">
  <h3 class="modal-title">{{config.translate.columnFilter.title}}</h3>
</div>
<div class="modal-body">
  <ul style="list-style-type: none;padding: 0px;" data-as-sortable="board.dragControlListeners" data-ng-model="columns">
    <li style="width: 100%;" data-ng-repeat="column in columns" data-as-sortable-item class="veasyt-sortable-item">
      <div class="checkbox" data-as-sortable-item-handle>
        <label>
          <input type="checkbox" ng-model="column.show"> {{column.header}}
        </label>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{config.translate.columnFilter.okButton}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{config.translate.columnFilter.cancelButton}}</button>
</div>
