<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>angular-veasy-table</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../bower_components/ng-sortable/dist/ng-sortable.css">
    <link rel="stylesheet" href="../bower_components/angular-veasy-table/dist/css/veasy-table.min.css">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="content">
      <center><h1>Angular VEasy Table</h1></center>
      <div ng-controller="appController">
        <div class="row">
          <div class="col-sm-12" style="text-align: center;margin-bottom: 30px;margin-top: 30px;">
            <form class="form-inline">
              <div class="form-group">
                <input type="text" name="nome" class="form-control" placeholder="First Name" ng-model="person.first_name">
              </div>
              <div class="form-group">
                <input type="text" name="sobrenome" class="form-control" placeholder="Last Name" ng-model="person.last_name">
              </div>
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" ng-model="person.email">
              </div>
              <div class="form-group">
                <input type="text" name="sobrenome" class="form-control" placeholder="Country" ng-model="person.country">
              </div>
              <div class="form-group">
                <input type="text" name="sobrenome" class="form-control" placeholder="IP" ng-model="person.ip">
              </div>
              <div class="form-group">
                <input type="text" name="sobrenome" class="form-control" placeholder="City" ng-model="person.city">
              </div>
              <button type="submit" class="btn btn-success" ng-click="addPerson(person)"><i class="fa fa-user-plus"></i></button>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel">
              <div ng-if="loadingData && !haveData" class="panel-center">
                <div class="panel-center-content">
                  <h4>
                    <i class="fa fa-spin fa-refresh"></i>
                  </h4>
                </div>
              </div>
              <div ng-if="!loadingData && !haveData" class="panel-center">
                <div class="panel-center-content">
                  <h4>No have items to display...</h4>
                </div>
              </div>
              <div ng-if="!loadingData && haveData">
                <veasy-table list="people" selected-items="selecteds" config="config"></veasy-table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Libs -->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../bower_components/ng-sortable/dist/ng-sortable.js"></script>

    <!-- App -->
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="../bower_components/angular-veasy-table/dist/js/veasy-table.js"></script>
    <script type="text/javascript" src="../bower_components/angular-veasy-table/dist/js/veasy-table-tpls.js"></script>
  </body>
</html>
