input, button, textarea, div {
  outline: none !important;
}

.veasyt-content {
  min-width: 675px;
}

.veasyt-total {
  text-align: right;
  margin-top: 12px;
  font-size: small;
}

.veasyt-footer {
  margin: 5px 0px 12px 0px;
}

.veasyt-footer2 {
  margin-bottom: 10px;
}

.veasyt-spin {
  display: inline-block;
  margin-left: 15px;
}

.use-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.veasyt-grips {
  height: 0px;
  position: relative
}

.veasyt-grip {
  margin-left: -10px;
  position: absolute;
  z-index: 5;
}

.veasyt-grip .veasyt-resizer {
  position: absolute;
  background-color: red;
  filter: alpha(opacity=1);
  opacity: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  top: 0px;
}

.no-select {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.fix-table {
  width: 100%;
  table-layout: fixed;
  cursor: default;
}

.clickable-row {
  cursor: pointer;
}

.default-row {
  cursor: default;
}

/**
 * OVERRIDE ng-sortable style
 */

.as-sortable-item, .as-sortable-placeholder {
  width: 90%;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 1px;
  border-radius: 0px;
}

.as-sortable-item {
  background-color: #ffffff;
}

.as-sortable-placeholder {
  border: dashed 1px rgb(229, 229, 229);
  background-color: #F7F7F7;
  box-sizing: border-box;
}

.as-sortable-drag {
  opacity: .8;
}

.veasyt-sortable-item {
  border: 1px solid #F4F4F4;
  margin-bottom: 1px;
}
